<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div class="faixa-titulo">
        <h2>{{ titulo }}</h2>
    </div>

    <form method="POST" action="{{ acao }}" enctype="multipart/form-data" class="formulario-produto">
        <label>Nome do produto:</label>
        <input type="text" name="nome" value="{{ produto.nome if produto else '' }}" required>

        <label>Preço:</label>
        <input type="text" name="preco" value="{{ produto.preco if produto else '' }}" required>

        <label>Imagem:</label>

        <div class="linha-botoes">
            <input type="file" name="imagem" {% if not produto %}required{% endif %} class="botao-input">
            <button type="submit" class="btn-cadastrar">
                {{ icone|safe }} {{ texto_botao }}
            </button>
            <a href="{{ url_for('exibir_produtos') }}" class="btn-cadastrar">
                <i class="fas fa-arrow-left"></i> Voltar
            </a>
        </div>
    </form>
</body>
</html>
